<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>公告 - 异清轩博客管理系统</title>
<link rel="stylesheet" type="text/css" href="../../static/css/manager/bootstrap.min.css" th:href="@{/css/manager/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../../static/css/manager/style.css" th:href="@{/css/manager/style.css}">
<link rel="stylesheet" type="text/css" href="../../static/css/manager/font-awesome.min.css"  th:href="@{/css/manager/font-awesome.min.css}">
<link rel="apple-touch-icon-precomposed" href="../../static/images/manager/icon/icon.png"  th:href="@{/images/manager/icon/icon.png}">
<link rel="shortcut icon" href="../../static/images/manager/icon/favicon.ico"  th:href="@{/images/manager/icon/favicon.ico}">
<script src="../../static/js/manager/jquery-2.1.4.min.js" th:src="@{/js/manager/jquery-2.1.4.min.js}"></script>
<!--[if gte IE 9]>
  <script src="../../static/js/manager/jquery-1.11.1.min.js" type="text/javascript" th:src="@{/js/manager/jquery-1.11.1.min.js}"></script>
  <script src="../../static/js/manager/html5shiv.min.js" type="text/javascript" th:src="@{/js/manager/html5shiv.min.js}"></script>
  <script src="../../static/js/manager/respond.min.js" type="text/javascript" th:src="@{/js/manager/respond.min.js}"></script>
  <script src="../../static/js/manager/selectivizr-min.js" type="text/javascript" th:src="@{/js/manager/selectivizr-min.js}"></script>
  <![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
<section class="container-fluid">
  <header th:replace="manager/common/common :: topbar"></header>
  <div class="row">
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="index.html">报告</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="article.html">文章</a></li>
        <li class="active"><a href="notice.html">公告</a></li>
        <li><a href="comment.html">评论</a></li>
        <li><a data-toggle="tooltip" data-placement="top" title="网站暂无留言功能">留言</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="category.html">栏目</a></li>
        <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
          <ul class="dropdown-menu" aria-labelledby="otherMenu">
            <li><a href="flink.html">友情链接</a></li>
            <li><a href="loginlog.html">访问记录</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li><a href="#">管理用户组</a></li>
            <li><a href="manage-user.html">管理用户</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="loginlog.html">管理登录日志</a></li>
          </ul>
        </li>
        <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</a>
          <ul class="dropdown-menu" aria-labelledby="settingMenu">
            <li><a href="setting.html">基本设置</a></li>
            <li><a href="readset.html">用户设置</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">安全配置</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a>扩展菜单</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <form action="/Article/checkAll" method="post" >
        <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
          <li><a href="add-notice.html">增加公告</a></li>
        </ol>
        <h1 class="page-header">管理 <span class="badge">3</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" class="input-control" name="checkbox[]" value="" /></td>
                <td class="article-title">这是测试的公告标题这是测试的公告标题这是测试的公告标题这是测试的公告标题</td>
                <td>2015-12-03</td>
                <td><a href="">修改</a> <a rel="6">删除</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="input-control" name="checkbox[]" value="" /></td>
                <td class="article-title">这是测试的公告标题这是测试的公告标题这是测试的公告标题这是测试的公告标题</td>
                <td>2015-12-03</td>
                <td><a href="">修改</a> <a rel="6">删除</a></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="input-control" name="checkbox[]" value="" /></td>
                <td class="article-title">这是测试的公告标题这是测试的公告标题这是测试的公告标题这是测试的公告标题</td>
                <td>2015-12-03</td>
                <td><a href="">修改</a> <a rel="6">删除</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer class="message_footer">
          <nav>
            <div class="btn-toolbar operation" role="toolbar">
              <div class="btn-group" role="group"> <a class="btn btn-default" onClick="select()">全选</a> <a class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default" onClick="noselect()">不选</a> </div>
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="删除全部选中" name="checkbox_delete">删除</button>
              </div>
            </div>
            <ul class="pagination pagenav">
              <li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
              <li class="active"><a>1</a></li>
              <li class="disabled"><a aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
            </ul>
          </nav>
        </footer>
      </form>
    </div>
  </div>
</section>
<div th:replace="manager/common/common :: seeUserInfo"></div>
<!--个人登录记录模态框-->
<div th:replace="manager/common/common :: seeUserLoginlog"></div>
<!--微信二维码模态框-->
<div th:replace="manager/common/common :: wechat"></div>
<!--提示模态框-->
<div th:replace="manager/common/common :: areDeveloping"></div>
<!--右键菜单列表-->
<div th:replace="manager/common/common :: rightClickMenu"></div>
<script src="../../static/js/manager/bootstrap.min.js" th:src="@{/js/manager/bootstrap.min.js}"></script>
<script src="../../static/js/manager/admin-scripts.js" th:src="@{/js/manager/admin-scripts.js}"></script>
<script>
//是否确认删除
$(function(){   
	$("#main table tbody tr td a").click(function(){
		var name = $(this);
		var id = name.attr("rel"); //对应id  
		if (event.srcElement.outerText == "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "/Article/delete",
					data: "id=" + id,
					cache: false, //不缓存此页面   
					success: function (data) {
						window.location.reload();
					}
				});
			};
		};
	});   
});
</script>
</body>
</html>
