<?xml version="1.0" encoding="UTF-8"?>

<!--mapper的dtd  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyi.web.dao.UserMapper">
    <resultMap id="user" type="User">
        <id property="id" column="u_id"/>
        <result property="username" column="u_username"/>
        <result property="name" column="u_name"/>
        <result property="password" column="u_password"/>
        <result property="phone" column="u_phone"/>
        <result property="isActive" column="u_isactive"/>
        <association property="role" javaType="Role">
            <id property="id" column="r_id"/>
            <result property="perms" column="r_perms"/>
        </association>
        <collection property="loginLog" ofType="LoginLog">
            <id property="id" column="l_id"/>
            <result property="userid" column="l_userid"/>
            <result property="lasttime" column="l_lasttime"/>
            <result property="ip" column="l_ip"/>
            <result property="status" column="l_status"/>
        </collection>
    </resultMap>


    <select id="selUser" resultMap="user">
        select *
        from tb_user
        <where>
            <trim prefixOverrides="and" suffixOverrides=",">
                <if test="id != null">
                    and u_id = #{id},
                </if>
                <if test="username != null and username !=''">
                    and u_username = #{username},
                </if>
            </trim>
        </where>
    </select>

    <select id="selUserWithAll" resultMap="user">
        select
        u.u_id,u.u_username,u.u_name,u.u_phone,u.u_password,
        l.*,
        r.r_id,r.r_perms
        from tb_user u
        left join tb_loginlog l on u.u_id = l.l_userid
        left join tb_role r on u.u_role= r.r_id
        <where>
            <trim prefixOverrides="and" suffixOverrides=",">
                <if test="id != null">
                    and u_id = #{id},
                </if>
                <if test="username != null and username !=''">
                    and u_username = #{username},
                </if>
            </trim>
        </where>
    </select>


    <insert id="insUser">
        insert
        into tb_user (`u_username`,`u_name`,`u_password`,`u_phone`)
        value (#{username},#{name},#{password},#{phone})
    </insert>

    <update id="updUser">
        update tb_user
        set
        <trim suffixOverrides=",">
            <choose>
                <when test="isActive!=null">
                    `u_isactive`=#{isActive},
                </when>
                <when test="role.id!=null">
                    `u_role`= #{role.id},
                </when>
                <otherwise>
                    <if test="username!=null and username !=''">
                        `u_username`=#{username},
                    </if>
                    <if test="name!=null and name !=''">
                        `u_name`=#{name},
                    </if>
                    <if test="password!=null and password !=''">
                        `u_password`=#{password},
                    </if>
                    <if test="phone!=null and phone !=''">
                        `u_phone`=#{phone},
                    </if>
                </otherwise>
            </choose>
        </trim>
        where `u_id`=#{id}
    </update>

    <delete id="delUser">
        delete
        from tb_user
        where u_id = #{id}
    </delete>
</mapper>