<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<header th:fragment="topbar">
    <div class="hidden-xs header"><!--超小屏幕不显示-->
        <h1 class="logo"> <a href="index.html" title="个人技术博客" th:href="@{/}"></a> </h1>
        <ul class="nav hidden-xs-nav">
            <li class="active"><a href="index.html" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>网站首页</a></li>
<!--            <li><a href=""><span class="glyphicon glyphicon-erase"></span>网站前端</a></li>-->
<!--            <li><a href=""><span class="glyphicon glyphicon-inbox"></span>后端技术</a></li>-->
            <li><a href="" th:href="@{/manager/login}"><span class="glyphicon glyphicon-globe"></span>管理系统</a></li>
            <li><a href="about.html" th:href="@{/about}"><span class="glyphicon glyphicon-user"></span>关于我们</a></li>
            <li><a href="friendly.html" th:href="@{/friendly}"><span class="glyphicon glyphicon-tags"></span>友情链接</a></li>
        </ul>
        <div class="feeds"> <a class="feed feed-xlweibo" href="" target="_blank"><i></i>新浪微博</a> <a class="feed feed-txweibo" href="" target="_blank"><i></i>腾讯微博</a> <a class="feed feed-rss" href="" target="_blank"><i></i>订阅本站</a> <a class="feed feed-weixin" data-toggle="popover" data-trigger="hover" title="微信扫一扫" data-html="true" data-content="<img src='/images/webpage/weixin.jpg' alt=''>"  href="javascript:;" target="_blank"><i></i>关注微信</a> </div>
        <div class="wall"><a href="readerWall.html" target="_blank" th:href="@{/readerWall}">读者墙</a> | <a href="tags.html" target="_blank" th:href="@{/tags}">标签云</a></div>
    </div>
    <!--/超小屏幕不显示-->
    <div class="visible-xs header-xs"><!--超小屏幕可见-->
        <div class="navbar-header header-xs-logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-xs-menu" aria-expanded="false" aria-controls="navbar"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
        </div>
        <div id="header-xs-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav header-xs-nav">
                <li class="active"><a href="index.html" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>网站首页</a></li>
                <li><a href=""><span class="glyphicon glyphicon-erase"></span>网站前端</a></li>
                <li><a href=""><span class="glyphicon glyphicon-inbox"></span>后端技术</a></li>
                <li><a href=""><span class="glyphicon glyphicon-globe"></span>管理系统</a></li>
                <li><a href="about.html" th:href="@{/about}"><span class="glyphicon glyphicon-user"></span>关于我们</a></li>
                <li><a href="friendly.html" th:href="@{/friendly}"><span class="glyphicon glyphicon-tags"></span>友情链接</a></li>
            </ul>
            <form class="navbar-form" action="search.php" method="post" style="padding:0 25px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入关键字">
                    <span class="input-group-btn">
            <button class="btn btn-default btn-search" type="submit">搜索</button>
            </span> </div>
            </form>
        </div>
    </div>
</header>
<!--/超小屏幕可见-->
<aside class="sidebar visible-lg" th:fragment="aside"><!--右侧>992px显示-->
    <div class="sentence"> <strong>每日一句</strong>
        <h2 th:text="${#dates.format(session.date,'yyyy年MM月dd日')+' '+#dates.dayOfWeekName(session.date)}">2015年11月1日 星期日</h2>
        <p>你是我人生中唯一的主角，我却只能是你故事中的一晃而过得路人甲。</p>
    </div>
    <div id="search" class="sidebar-block search" role="search">
        <h2 class="title"><strong>搜索</strong></h2>
        <form class="navbar-form" action="search.php" method="post" th:action="@{/sort/keyword/1}">
            <div class="input-group">
                <input type="text" class="form-control" size="35" placeholder="请输入关键字" name="keyword_value">
                <span class="input-group-btn">
          <button class="btn btn-default btn-search" type="submit">搜索</button>
          </span> </div>
        </form>
    </div>
    <div class="sidebar-block recommend">
        <h2 class="title"><strong>热门推荐</strong></h2>
        <ul>
            <li th:each="topArticle:${session.topClickArticleList}">
                <a target="_blank" href="" th:href="@{/content/{href}(href=${topArticle.getId()})}">
                    <span class="thumb">
                        <img src="../../static/images/webpage/icon/icon.png" alt="" th:src="@{{src}(src = ${topArticle.getTitlepic()==null||topArticle.getTitlepic()==''?'/images/webpage/icon/icon.png':topArticle.getTitlepic()})}">
                    </span>
                    <span class="text" th:text="${topArticle.getTitle()}">个人技术博客技术博客的SHORTCUT和ICON图标 ...</span>
                    <span class="text-muted">阅读([[${topArticle.getClickNum()}]])</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<!--侧边栏里面的评论显示-->
<div class="sidebar-block comment">
    <h2 class="title"><strong>最新评论</strong></h2>
    <ul>
        <li data-toggle="tooltip" data-placement="top" title="站长的评论"><a target="_blank" href=""><span class="face"><img src="../../static/images/webpage/icon/icon.png" alt=""></span> <span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="读者墙上的评论"><a target="_blank" href=""><span class="face"><img src="../../static/images/webpage/icon/icon.png" alt=""></span> <span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="个人技术博客技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="face"><img src="../../static/images/webpage/icon/icon.png" alt=""></span> <span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="个人技术博客技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="face"><img src="../../static/images/webpage/icon/icon.png" alt=""></span> <span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="个人技术博客技术博客的SHORTCUT和ICON图标...的评论"><a target="_blank" href=""><span class="face"><img src="../../static/images/webpage/icon/icon.png" alt=""></span> <span class="text"><strong>个人技术博客站长</strong> (2015-10-18) 说：<br />
          欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
    </ul>
</div>
<!--/右侧>992px显示-->
<footer class="footer" th:fragment="footer">POWERED BY &copy;<a href="#">个人技术博客 XXXXX.COM</a> ALL RIGHTS RESERVED &nbsp;&nbsp;&nbsp;<span><a href="http://www.mycodes.net/" target="_blank">源码之家</a></span> <span style="display:none"><a href="">网站统计</a></span> </footer>

<div th:fragment="gotop"><a href="javascript:;" class="gotop" style="display:none;"></a></div>
<!--/返回顶部-->
<!--翻页按钮-->
<!--<div class="quotes" style="margin-top:15px" th:fragment="page"><span class="disabled">首页</span><span class="current">1</span><a href="">2</a><a href="">尾页</a></div>-->
<div class="quotes" style="margin-top:15px" th:fragment="page(href)">
    <nav>
        <ul class="pagination pagenav">
            <li th:class="${pageInfo.isHasPreviousPage()}?'':'disabled'"><a aria-label="Previous" th:href="@{${href}+'/'+${pageInfo.getNavigateFirstPage()}}" style="border: none"> <span aria-hidden="true">&laquo;</span> </a> </li>
            <li th:if="${pageInfo.isHasPreviousPage()}"><a th:text="${pageInfo.getPrePage()}" th:href="@{${href}+'/'+${pageInfo.getPrePage()}}" style="border: none"></a></li>
            <li class="active"><a href="#" th:text="${pageInfo.getPageNum()}" style="border: none">1</a></li>
            <li th:if="${pageInfo.isHasNextPage()}"><a th:text="${pageInfo.getNextPage()}" th:href="@{${href}+'/'+${pageInfo.getNextPage()}}" style="border: none"></a></li>
            <li th:class="${pageInfo.isHasNextPage()}?'':'disabled'"><a href="#" aria-label="Next" th:href="@{${href}+'/'+${pageInfo.getNavigateLastPage()}}" style="border: none"> <span aria-hidden="true">&raquo;</span> </a> </li>
        </ul>
    </nav>
</div>
<!--排行榜-->

<div th:fragment="rank" class="content-block hot-content hidden-xs">
    <h2 class="title"><strong>本周热门排行</strong></h2>
    <ul>
        <li class="large">
            <a href="content.html" target="_blank" th:href="@{/content/{href}(href=${top5ArticleList.get(0).getId()})}">
                <img src="../../static/images/webpage/img3.jpg" alt="" th:src="@{{src}(src = ${top5ArticleList.get(0).getTitlepic()})}">
                <h3 th:text="${top5ArticleList.get(0).getTitle()}"> hello world-------------------------------------- </h3>
            </a>
        </li>
        <li>
            <a href="content.html" target="_blank" th:href="@{/content/{href}(href=${top5ArticleList.get(1).getId()})}">
                <img src="../../static/images/webpage/logo.jpg" alt="" th:src="@{{src}(src = ${top5ArticleList.get(1).getTitlepic()})}">
                <h3 th:text="${top5ArticleList.get(1).getTitle()}"> 欢迎来到个人技术博客技术博客,在这里可以看到网站前端和后端的技术等 </h3>
            </a>
        </li>
        <li>
            <a href="content.html" target="_blank" th:href="@{/content/{href}(href=${top5ArticleList.get(2).getId()})}">
                <img src="../../static/images/webpage/img2.jpg" alt="" th:src="@{{src}(src = ${top5ArticleList.get(2).getTitlepic()})}">
                <h3 th:text="${top5ArticleList.get(2).getTitle()}"> 欢迎来到个人技术博客技术博客,在这里可以看到网站前端和后端的技术等 </h3>
            </a>
        </li>
        <li>
            <a href="content.html" target="_blank" th:href="@{/content/{href}(href=${top5ArticleList.get(3).getId()})}">
                <img src="../../static/images/webpage/img1.jpg" alt="" th:src="@{{src}(src = ${top5ArticleList.get(3).getTitlepic()})}">
                <h3 th:text="${top5ArticleList.get(3).getTitle()}"> 欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 </h3>
            </a>
        </li>
        <li>
            <a href="content.html" target="_blank" th:href="@{/content/{href}(href=${top5ArticleList.get(4).getId()})}">
                <img src="../../static/images/webpage/logo.jpg" alt="" th:src="@{{src}(src = ${top5ArticleList.get(4).getTitlepic()})}">
                <h3 th:text="${top5ArticleList.get(4).getTitle()}"> 欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 </h3>
            </a>
        </li>
    </ul>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" th:fragment="carousel"> <!--banner-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active"> <a href="content.html" target="_blank"><img src="../../static/images/webpage/img1.jpg" alt="" th:src="@{/images/webpage/img1.jpg}"/></a>
            <div class="carousel-caption"> 欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 </div>
            <span class="carousel-bg"></span> </div>
        <div class="item"> <a href="content.html" target="_blank"><img src="../../static/images/webpage/img2.jpg" alt="" th:src="@{/images/webpage/img2.jpg}"/></a>
            <div class="carousel-caption"> 欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 </div>
            <span class="carousel-bg"></span> </div>
        <div class="item"> <a href="content.html" target="_blank"><img src="../../static/images/webpage/img3.jpg" alt="" th:src="@{/images/webpage/img3.jpg}"/></a>
            <div class="carousel-caption"> 欢迎来到个人技术博客技术博客，在这里可以看到网站前端和后端的技术等 </div>
            <span class="carousel-bg"></span> </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>

<div th:fragment="recommend" class="content-block related-content visible-lg visible-md">
    <h2 class="title"><strong>相关推荐</strong></h2>
    <ul>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/logo.jpg" alt="">
            <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/img1.jpg" alt="">
            <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/img3.jpg" alt="">
            <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/img2.jpg" alt="">
            <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/img2.jpg" alt="">
            <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/img3.jpg" alt="">
            <h3> 欢迎来到个人技术博客,在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/img1.jpg" alt="">
            <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
        <li><a target="_blank" href=""><img src="../../static/images/webpage/logo.jpg" alt="">
            <h3> 欢迎来到个人技术博客，在这里可以看到网站前端和后端的技术等 </h3>
        </a></li>
    </ul>
</div>

<div class="comment-form-footer" th:fragment="comment-footer">
    <div class="comment-form-text">请先 <a href="javascript:;">登录</a> 或 <a href="javascript:;">注册</a>，也可匿名评论 </div>
    <div class="comment-form-btn">
        <button type="submit" class="btn btn-default btn-comment">提交评论</button>
    </div>
</div>

<div class="content-block">
    <h2 class="title"><strong>读者</strong></h2>
    <div class="face-block">
        <span class="face" data-toggle="tooltip" data-placement="bottom" title="技术博客"><img src="../../static/images/webpage/icon/icon.png" alt=""></span>
        <span class="face" data-toggle="tooltip" data-placement="bottom" title="技术博客"><img src="../../static/images/webpage/icon/icon.png" alt=""></span>
        <span class="face" data-toggle="tooltip" data-placement="bottom" title="技术博客"><img src="../../static/images/webpage/icon/icon.png" alt=""></span>
        <span class="face" data-toggle="tooltip" data-placement="bottom" title="技术博客"><img src="../../static/images/webpage/icon/icon.png" alt=""></span>
        <span class="face" data-toggle="tooltip" data-placement="bottom" title="技术博客"><img src="../../static/images/webpage/icon/icon.png" alt=""></span>
        <span class="face" data-toggle="tooltip" data-placement="bottom" title="技术博客"><img src="../../static/images/webpage/icon/icon.png" alt=""></span>
        <span class="face" data-toggle="tooltip" data-placement="bottom" title="技术博客"><img src="../../static/images/webpage/icon/icon.png" alt=""></span>
    </div>
</div>
</body>
</html>